.is-mobile-preview {

	.ct-hidden-sm {
		display: none !important;
	}
}

.is-tablet-preview {

	.ct-hidden-md {
		display: none !important;
	}
}

.is-desktop-preview {

	.ct-hidden-lg {
		display: none !important;
	}
}